<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_anim0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,9}</string>
                <key>spriteSize</key>
                <string>{209,149}</string>
                <key>spriteSourceSize</key>
                <string>{289,289}</string>
                <key>textureRect</key>
                <string>{{1,656},{209,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_anim1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,3}</string>
                <key>spriteSize</key>
                <string>{209,145}</string>
                <key>spriteSourceSize</key>
                <string>{289,289}</string>
                <key>textureRect</key>
                <string>{{1,807},{209,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_anim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,2}</string>
                <key>spriteSize</key>
                <string>{217,137}</string>
                <key>spriteSourceSize</key>
                <string>{289,289}</string>
                <key>textureRect</key>
                <string>{{1,1},{217,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_anim3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,3}</string>
                <key>spriteSize</key>
                <string>{215,127}</string>
                <key>spriteSourceSize</key>
                <string>{289,289}</string>
                <key>textureRect</key>
                <string>{{1,527},{215,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_anim4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,4}</string>
                <key>spriteSize</key>
                <string>{217,131}</string>
                <key>spriteSourceSize</key>
                <string>{289,289}</string>
                <key>textureRect</key>
                <string>{{1,140},{217,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_anim5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,1}</string>
                <key>spriteSize</key>
                <string>{217,125}</string>
                <key>spriteSourceSize</key>
                <string>{289,289}</string>
                <key>textureRect</key>
                <string>{{1,273},{217,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_anim6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,1}</string>
                <key>spriteSize</key>
                <string>{217,125}</string>
                <key>spriteSourceSize</key>
                <string>{289,289}</string>
                <key>textureRect</key>
                <string>{{1,400},{217,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_anim7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,3}</string>
                <key>spriteSize</key>
                <string>{207,129}</string>
                <key>spriteSourceSize</key>
                <string>{289,289}</string>
                <key>textureRect</key>
                <string>{{1,1087},{207,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_anim8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,4}</string>
                <key>spriteSize</key>
                <string>{209,131}</string>
                <key>spriteSourceSize</key>
                <string>{289,289}</string>
                <key>textureRect</key>
                <string>{{1,954},{209,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ghostHeadAnim.png</string>
            <key>size</key>
            <string>{219,1217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b680004a53a2d01280bc644a2ec6b1e8:3438e1111e9c99edad2a5aeda4baad4e:39b3d1647dcc5dfd024e045a412af221$</string>
            <key>textureFileName</key>
            <string>ghostHeadAnim.png</string>
        </dict>
    </dict>
</plist>
